.container-block{
    background-color: yellowgreen;
    width: 400px;
    /* height: 600px; */
    /* padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px; */
    /* margin-top: 200px;
    margin-left: 150px; */
    padding: 50px 30px;
    margin: 20px auto;
    text-align: center;
}
.block-contant{
    text-align: center;
}
.item{
    background-color: blue;
    margin: 10px auto;
    width: 100px;
    display: inline-block;
    border-radius: 10px;
    border: 4px dotted yellow;
}