*{
    box-sizing: border-box;
}
body{
    background-color:#E5E5E5;
}
.Diya{
    width: 512px;
    height: 512px;
    background-color: black;
    padding: 109px 101px;
    position: absolute;
    top: 100px;
    left: 700px;
}
.DiyaPicture{
    margin-bottom: 32px;
}
section{
    background-color: yellow;
    width: 80px;
    height: 60px;
    border-radius: 6px;
    margin: 0 auto;
}
.BlueFont{
    background-color: blue;
    width: 80px;
    height: 30px;
    border-radius: 6px 6px 0 0;
    }
.Flag{
    width: 512px;
    height: 512px;
    background-color: yellow;
    position: absolute;
    z-index: 1;
    top: 500px;
    left: 1100px;
}
.BluePosition{
    width: 512px;
    position: absolute;
    
}
.GlythPosition{
    height: 228px;
    width: 400px;
    margin: 144px 57px 140px 55px;
    position: absolute;
    z-index: 2;
}
.circleInside{
    background-color:white;
    width: 512px;
    height: 512px;
    border-top: blue solid 2px;
    border-bottom: blue solid 2px;
    position: absolute;
    top: 900px;
    left: 1500px;
}
.Circle{
    width: 444px;
    height: 444px;
    background-color: yellow;
    border-radius: 222px;
    margin: 34px;
    position: relative;
}
.BlueCircle{
    width: 444px;
    height: 233.5px;
    border-radius: 222px 222px 0 0;
    position: absolute;
}
.GlythInCircle{
    width: 358.44px;
    height: 203.74px;
    position: absolute;
    top: 217.86px;
    left: 45.26px;
}
.Flag:hover, .Diya:hover, .circleInside:hover{
    border: 5px solid blue;
} 