*{box-sizing: border-box;}

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

body{background-color: #6d5c94;
font-family: "Inter", sans-serif;}

.mainScreen{
width: 360px;
border-radius: 20px;
background-color: #FFFFFF;
margin: 100px auto;
padding: 56px 20px 91px 20px;
}

button{
border: none;
background-color: #FFFFFF;
width: 30px;
height: 30px;
margin-left: 8px;
}

h1{
font-size: 32px;
line-height: 100%;
font-weight: 600;
width: 87px;
height: 39px;
margin-left: 2px;
}
form{
width: 316px;
height: 44px;
border-radius: 12px;
background-color: #EFEFEF;
margin-left: 4px;
}
input{
width: 316px;
height: 44px;
border-radius: 12px;
font-weight: 400;
font-size: 12px;
line-height: 100%;
border: 0cm;
background-color: #EFEFEF;
justify-content: center;
}
.menuItems{
padding: 28px 0px 0px 4px;
}
section{
width: 74px;
height: 74px;
border-radius: 12px;
background-color: #EFEFEF;
display: flex;
justify-content: center;
align-items: center;
}
.positionTitle{
    color: #C4C4C4;
    text-align: center;
    margin: 8px 0 0 0;
    font-size: 16px;
    height: 19px;
}
.menuPosition{
    display: inline-block;
    width: 74px;
    height: 101px;
    margin-right: 24px;
    }
.menuPosition:hover section{
    background-color: #eae2b7;
}
.menuPosition:hover .positionTitle{
    color: black;
}
span{
    color: red;
}
.burgerPosition{
width: 316px;
height: 88px;
padding: 10px;
overflow: hidden;
border: 2px solid #E5E5E5;
border-radius: 10px;
margin-bottom: 10px;
}

.positionImageBurger{
float: left;
margin-right: 15px;
align-items: center;
}
.burgerPosition:hover{
    border: 2px solid blue;
}
.positionTitleBurger{
    padding-left: 100px;
    font-size: 16px;
}
.burgerPosition:last-child{
    margin-bottom: 0px;
}
h3{
    width: 65px;
    height: 24px;
    font-size: 20px;
    
}

