*{box-sizing: border-box;}
body{background-color: #6d5c94;}
.mainScreen{
width: 360px;
border-radius: 20px;
background-color: #FFFFFF;
margin: 100px auto;
padding: 56px 20px 91px 20px;
}
button{
border: none;
background-color: #FFFFFF;
}
h1{
font-family: Inter;
font-style: Semi Bold;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
}
input{
width: 316;
height: 44;
border-radius: 12px;
top: 165px;
left: 24px;
background-color: #EFEFEF;
}
.menuItems{
    padding: 28px 4px  ;
}
section{
width: 74px;
height: 74px;
border-radius: 12px;
background-color: #EFEFEF;
display: flex;
justify-content: center;
align-items: center;
}
.positionTitle{
    color: #C4C4C4;
    text-align: center;
}
.menuPosition{
    display: inline-block;
    }
.menuPosition:hover section{
    background-color: #eae2b7;
}
.menuPosition:hover .positionTitle{
    color: black;
}
span{
    color: red;
}
.burgerPosition{
width: 316px;
height: 88px;
padding: 10px;
overflow: hidden;
border: 2px solid #E5E5E5;
border-radius: 10px;
margin-bottom: 10px;
}

.positionImageBurger{
float: left;
margin-right: 15px;
align-items: center;

}
.burgerPosition:hover{
    border: 2px solid blue;
}
.positionTitleBurger{
    padding-left: 114px;
}
.burgerPosition:last-child{
    margin-bottom: 0px;
}

